:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.table-container {
  padding:20px;
}

table {
  width: 100%;
  border-spacing: 0 8px !important;

}

th, td {
  padding: 5px 10px !important;
}

mat-form-field {
  width: 40%;
}

.mat-column-- {
  flex: none !important;
  width: 50px !important;
}

.full-width-table {
  width: 100%;
}


.app-mat-table {
  overflow: auto;
  max-height: calc(100vh - 159px);
  height: calc(100vh - 159px);
}

tr.mat-header-row{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}


tr.mat-footer-row {
  border: 1px solid #e7e7e7;
  font-weight: bold;
  height: 10px!important;
}

.mat-footer-row,
.mat-header-row, .mat-row {
  // display: inline - flex;
  min-width: 100% ;
}

.highlight-row td {
  border: 2px solid;
  border-left: 1px solid !important;
  border-right: 1px solid !important;
  border-color: #3482b9 !important;
}

.highlight-row td:first-child {
  border-left: 2px solid #3482b9 !important;
  }

  .highlight-row td:last-child {
    border-right: 2px solid !important;
  border-color: #3482b9 !important;
}

.mat-header-row {
  background: #f5f8fa !important;
}


tr.mat-row:hover {
  background: #f5f8fa;
}

td.mat-cell {
  padding: 16px;
  border-bottom: 1px solid #ececec;
  border-top: 1px solid #ececec;
  border-right: 1px solid #ececec;
 }

 td.mat-cell:first-child {
   border-left: 1px solid #ececec;
 }

 td.mat-cell:last-child {
   border-right: 1px solid #ececec;
 }

 th.mat-header-cell {
  text-align: left;
  font-size: 14px;
  padding-left: 14px;
}


 th:active {
  background: #a8c9e0 !important;
}

mat-toolbar a {
  display: inline-block;
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  padding: 0 !important;
}


.mat-header-row {
  background: #f5f8fa !important;
}


mat-toolbar.mat-toolbar.mat-toolbar-single-row {
  background: #fff;
}

input {
  background: #f5f8fa;
  padding: 5px 36px !important;
  border: none;
  width: 400px;
  border-radius: 5px;
  font-size: 14px;
}


input[type="text"]:focus-visible {
  padding: 5px 35px !important;
  outline: none;
  border: 1px solid;
  border-color: #3482b9;
}

label {
  position: relative;
}

label:before {
  content: "";
    position: absolute;
    left: 10px;
    top: 0px;
    bottom: 0;
    width: 15px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25' fill-rule='evenodd'%3E%3Cpath d='M16.036 18.455l2.404-2.405 5.586 5.587-2.404 2.404zM8.5 2C12.1 2 15 4.9 15 8.5S12.1 15 8.5 15 2 12.1 2 8.5 4.9 2 8.5 2zm0-2C3.8 0 0 3.8 0 8.5S3.8 17 8.5 17 17 13.2 17 8.5 13.2 0 8.5 0zM15 16a1 1 0 1 1 2 0 1 1 0 1 1-2 0'%3E%3C/path%3E%3C/svg%3E") center / contain no-repeat;

}

::ng-deep {
  ul.ngx-pagination {
    padding-inline-start: 0 !important;
    margin: 0;
  }

  li.ellipsis {
    pointer-events: none;
  }

  .ngx-pagination .pagination-previous a::before,
  .ngx-pagination .pagination-previous.disabled::before {
    content: 'chevron_left' !important;
    font-family: Material Icons, sans-serif;
    font-size: 1.3em;
    margin: 0;
    vertical-align: middle;
  }

  .ngx-pagination .pagination-next a::after,
  .ngx-pagination .pagination-next.disabled::after {
    display: inline-block;
    content: 'chevron_right' !important;
    font-family: Material Icons, sans-serif;
    font-size: 1.3em;
    margin: 0;
    vertical-align: middle;
  }

  pagination-controls {
    display: flex;
    place-content: center;
    padding: 14px;
    background: #f5f8fa;
    font-size: 12px;
    font-weight: 600;
    width: 100%;
  }

  .ngx-pagination .current {
    background: transparent !important;
    color: #3482b9 !important;
    border: 2px solid #3482b9 !important;
    border-radius: 5px;
    padding: 2px 6px !important;
}

.mat-form-field-wrapper{
  padding: 0 !important;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  height: 0 !important;
  background: transparent;
  display: none;
}
.mat-form-field-underline {
  height: 0 !important
}

.mat-form-field-appearance-legacy .mat-form-field-wrapper , .mat-form-field-wrapper{
  padding: 0 !important;
}

.mat-select {
  padding-left: 10px !important;
}

.footer {
  background: #f5f8fa;
  align-items: center;
}

.pagination-size {
  width: 70px;
  // right: 131px;
  position: absolute;
  background: #fff;
  border: 1px solid #ececec;
  border-radius: 5px;
  font-size: 14px;
}

.mat-form-field-infix {
  margin: 0 !important;
  border:0 !important;
  padding: 0 !important;
}

mat-form-field {
  width: 70px !important;
    height: 35px !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
}

.page-size-wrapper {
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  right: 120px;
  position: absolute;
}
}

.view-label {
  display: flex;
  align-items: center;
  opacity: 0.5;
  font-size: 12px;
  padding-right: 10px;
}


tr.mat-row.no-data-found, tr.mat-row.no-data-found td {
  max-height: 1px;
  padding: 0 !important;
  border: 0 !important;
  margin: 0 !important;
  height: 1px;
}

.mat-progress-bar {
  height: 3px !important;
  margin-top: -8px !important;
}

.mat-stroked-button.mat-primary {
  color: grey;
  font-size: 12px;
  background: #f5f8fa;
  border: none;
}


.back-button {
  width: 12px;
          margin-top: -2px;
          color: grey;
          fill: grey;
          margin-right: 5px;
}
